@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";

.login-page {
  height: 100vh;
  background-image: url("../../assets/images/stocks.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-left: $margin-mobile;
  padding-right: $margin-mobile;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 288px;
    height: 40%;
    border: 1px solid $silver;
    border-radius: 10px;
    // padding-top: 20px;
  }

  &__icon-ctn {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }

  &__image {
    // width: 50px;
    font-size: 40px;
    color: #006400;
  }
}
