@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";

.company-info {
  background-color: $light-mode-nav-background-color;
  padding-left: $margin-mobile;
  padding-right: $margin-mobile;
  color: $light-mode-text-color;
  padding-top: 20px;
  padding-bottom: 20px;

  @include tablet {
    height: 100vh;
    // width: 40%;
    width: 290px;
  }

  @include desktop {
    width: 400px;
  }

  &__info-ctn {
    display: flex;
    font-size: 15px;
    // justify-content: space-between;
    @include tablet {
      padding-top: 15px;
    }
    @include desktop {
      font-size: 19px;
    }
  }

  &__info-description {
    margin-right: 15px;
    margin-bottom: 10px;
  }

  &__tablet-mode {
    display: none;

    @include tablet {
      display: inline;
    }
  }

  &__company-name-ctn {
    padding-bottom: 20px;
    border-bottom: 1px solid $light-mode-text-color;

    @include tablet {
      font-size: 22px;
    }

    @include desktop {
      font-size: 30px;
    }
  }
}

.Collapsible {
  font-size: 50px;

  @include tablet {
    display: none;
  }

  &__contentInner {
    margin-top: 20px;
  }
}
