@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";

.company-info {
  padding-left: $margin-mobile;
  padding-right: $margin-mobile;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  &--light {
    color: $light-mode-text-color;
    background-color: $light-mode-nav-background-color;
    transition: background-color 0.25s ease-out;
  }

  &--dark {
    color: $dark-mode-text-color;
    background-color: $dark-mode-nav-background-color;
    transition: background-color 0.25s ease-out;
  }

  @include tablet {
    height: 150vh;
    // width: 40%;
    width: 290px;
  }

  @include desktop {
    height: 100vh;
    width: 400px;
  }

  &__info-ctn {
    display: flex;
    font-size: 15px;
    align-items: center;
    // justify-content: space-between;
    @include tablet {
      padding-top: 15px;
    }
    @include desktop {
      font-size: 19px;
    }
  }

  &__icon-ctn {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    font-size: 20px;
  }

  &__info-description {
    margin-right: 15px;
    margin-bottom: 10px;
  }

  &__tablet-mode {
    display: none;

    @include tablet {
      display: inline;
    }
  }

  &__company-name-ctn {
    padding-bottom: 20px;
    border-bottom: 1px solid $light-mode-text-color;

    @include tablet {
      font-size: 22px;
    }

    @include desktop {
      font-size: 30px;
    }
  }

  &__logout-btn-ctn {
    margin-top: 10px;
  }

  &__logout-button {
    width: 120px;
    height: 40px;
    text-align: center;
    // margin-top: 15px;
    border-radius: 10px;
    outline: none;
  }
}

.Collapsible {
  font-size: 50px;

  @include tablet {
    display: none;
  }

  &__contentInner {
    margin-top: 20px;
  }
}
