@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";

.stock-data {
  color: $light-mode-text-color;
  display: flex;
  flex-direction: column;

  @include desktop {
    align-items: center;
  }

  &__section-results {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  &__data-ctn {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    &--col1 {
      @include desktop {
        margin-right: 20px;
      }
    }

    &--col2 {
      @include desktop {
        margin-left: 20px;
      }
    }
  }

  &__section-ctn {
    display: flex;
    justify-content: space-between;
    @include tablet {
      margin-bottom: 5px;
    }

    @include desktop {
      width: 400px;
    }
  }

  &__graph-ctn {
    height: 600px;
    width: 280px;
    position: relative;

    @include tablet {
      height: 400px;
      width: 450px;
    }

    @include desktop {
      width: 1200px;
      height: 600px;
    }
  }
}
