@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";
@import "../../styles/partials/fonts";

.stock-data {
  display: flex;
  flex-direction: column;

  @include desktop {
    align-items: center;
  }

  &__top-data-ctn {
    display: flex;
    flex-direction: column;
    // background-color: blueviolet;

    @include desktop {
      // width: 80%;
      width: 700px;
    }
  }

  //card for stock tracker
  &__section-results {
    font-size: 0.7rem;
    padding: 0.5rem;
    border-radius: 5px;
    // margin-bottom: 15px;
    margin-top: 15px;
    background-color: $light-mode-background-color-card;
  }

  &__data-ctn {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  //card for stock data
  &__col {
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    // margin-bottom: 15px;
    margin-top: 0.5rem;
    font-size: 0.7rem;

    @include tablet {
      width: 100%;
    }

    &--col1 {
      @include tablet {
        margin-right: 15px;
      }
    }
  }

  &__section-ctn {
    display: flex;
    justify-content: space-between;
    @include tablet {
      margin-bottom: 5px;
    }

    @include desktop {
      // width: 400px;
      width: 100%;
    }
  }

  &__data-label {
    font-family: "RobotoBold";

    &--light {
      color: $light-mode-text-color;
    }

    &--dark {
      color: $dark-mode-text-color;
    }
  }

  &__data-text {
    &--light {
      color: $light-mode-text-color;
    }

    &--dark {
      color: $dark-mode-text-color;
    }
  }

  &__graph-ctn {
    height: 50rem;
    width: 100%;
    position: relative;
    align-self: center;

    @include tablet {
      // height: 400px;
      height: 18rem;
    }

    @include desktop {
      // height: 425px;
      height: 22rem;
      width: 100%;
    }
  }

  &__tab-ctn {
    width: 100%;
    margin-top: 10px;
  }

  &__button-ctn {
    display: flex;
    @include desktop {
      margin-top: 0.5rem;
    }
  }

  &__button {
    cursor: pointer;
    padding: 0.5rem;
    outline: none;

    &--light {
      border: 1px solid $light-mode-text-color;
      color: $light-mode-text-color;
      background-color: $light-mode-background-color-card;
    }

    &--dark {
      border: 1px solid $dark-mode-text-color;
      color: $dark-mode-text-color;
      background-color: $dark-mode-background-color-card;
    }

    &--left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none;
    }

    &--right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &--selected {
      background-color: $light-mode-nav-background-color;
      color: $light-mode-background-color-card;
    }

    &:hover {
      background-color: $light-mode-nav-background-color;
      color: $light-mode-background-color;
      transition: 0.3s;
    }
  }
}
