@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";

.data {
  &__graph-ctn {
    // height: 600px;
    // width: 280px;
    margin-top: 20px;
    position: relative;
    height: 50rem;

    @include tablet {
      // height: 23rem;
      height: 80%;
    }

    @include desktop {
      // height: 650px;
    }
  }

  &__button-ctn {
    display: flex;
    margin-top: 20px;
  }

  &__button {
    cursor: pointer;
    background-color: $light-mode-background-color-card;
    padding: 0.5rem;
    border: 1px solid $light-mode-text-color;
    // border: none;
    // border-radius: 5px;
    color: $light-mode-text-color;
    outline: none;

    &--light {
      background-color: $light-mode-background-color-card;
      border: 1px solid $light-mode-text-color;
      color: $light-mode-text-color;
    }

    &--dark {
      border: 1px solid $dark-mode-text-color;
      color: $dark-mode-text-color;
      background-color: $dark-mode-background-color-card;
    }

    &--selected {
      background-color: $light-mode-nav-background-color;
      color: $light-mode-background-color-card;
    }

    &:hover {
      background-color: $light-mode-nav-background-color;
      color: $light-mode-background-color;
      transition: 0.3s;
    }

    &--line {
      border-right: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &--bar {
      border-right: none;
    }

    &--radar {
      border-right: none;
    }

    &--financials {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &--quarterly {
      border-right: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &--annual {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  &__loader {
    text-align: center;
  }
}
