@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";

.company-results {
  height: 100vh;
  background-color: $light-mode-background-color;
  width: 100%;

  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__ctn {
    padding-top: 20px;
    padding-left: $margin-mobile;
    padding-right: $margin-mobile;
    display: flex;
    flex-direction: column;
  }

  // &__top-ctn {}

  &__top-ctn {
    align-self: flex-start;

    @include tablet {
      align-self: center;
    }
  }

  // &__tabs-ctn {
  // }

  &__results-header {
    color: $light-mode-text-color;
    // display: none;
    @include tablet {
      font-size: 20px;
    }

    @include desktop {
      font-size: 28px;
    }
  }
}

//styles for the tab bar
.react-tabs {
  -webkit-tap-highlight-color: transparent;
  padding-top: 20px;

  &__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;

    &--selected {
      background: $light-mode-background-color;
      border-color: #aaa;
      color: $light-mode-text-color;
      border-radius: 5px 5px 0 0;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}
