@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";

.company-results {
  height: 100vh;
  background-color: $light-mode-background-color;
  width: 100%;

  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__ctn {
    padding-top: 20px;
    padding-left: $margin-mobile;
    padding-right: $margin-mobile;
    display: flex;
    flex-direction: column;
  }

  // &__top-ctn {}

  &__top-ctn {
    align-self: flex-start;

    @include tablet {
      align-self: center;
    }
  }

  // &__tabs-ctn {
  // }

  &__results-header {
    color: $light-mode-text-color;
    // display: none;
    @include tablet {
      font-size: 20px;
    }

    @include desktop {
      font-size: 28px;
    }
  }
}

//styles for the tab bar
.react-tabs {
  -webkit-tap-highlight-color: transparent;
  padding-top: 20px;

  &__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;

    &--selected {
      background: $light-mode-background-color;
      border-color: #aaa;
      color: $light-mode-text-color;
      border-radius: 5px 5px 0 0;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type="checkbox"].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].checkbox:checked + label {
  left: 30px;
}

input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: cyan;
}

.toggle-container {
  display: flex;
  margin: 0 auto;
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
}
