@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";

.search {
  height: 100vh;
  background-image: url("../../assets/images/wallstreet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-left: $margin-mobile;
  padding-right: $margin-mobile;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    padding-left: $margin-tablet;
    padding-right: $margin-tablet;
  }

  @include desktop {
    padding-left: $margin-desktop;
    padding-right: $margin-desktop;
  }
}
