@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";

.search {
  height: 100vh;
  background-image: url("../../assets/images/wallstreet.jpg");
  // background-image: url("../../assets//images/stocks.jpg");
  // background-image: url("../../assets/images/m-b-m-ZzOa5G8hSPI-unsplash.jpg");
  // background-image: url("../../assets/images/neonbrand-8fDhgAN5zG0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-left: $margin-mobile;
  padding-right: $margin-mobile;

  display: flex;
  flex-direction: column;
}
