@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";

.search {
  &__intro-text {
    display: flex;
    flex-direction: column;
    color: $white;

    @include tablet {
      width: 500px;
    }

    @include desktop {
      width: 600px;
    }
  }

  &__header {
    text-align: center;
    font-size: 45px;
    font-family: "RobotoBold";
    margin-bottom: 15px;
  }

  &__paragraph {
    text-align: center;
    font-size: 18px;
    font-family: "RobotoBold";
    margin-bottom: 15px;
  }
}
