@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";

.results-page {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  &__results {
    height: 100vh;
    background-color: $light-mode-background-color;
    width: 100%;
  }

  &__results-ctn {
    padding-top: 20px;
    padding-left: $margin-mobile;
    padding-right: $margin-mobile;
    display: flex;
    flex-direction: column;
  }

  &__top-ctn {
    align-self: flex-start;

    @include tablet {
      align-self: center;
    }
  }

  // &__tabs-ctn {
  // }

  &__results-header {
    color: $light-mode-text-color;
    // display: none;
    @include tablet {
      font-size: 20px;
    }

    @include desktop {
      font-size: 28px;
    }
  }
}
